.container {
  margin-bottom: 30px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topPane {
  width: 800px;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
}

.img {
  margin-right: 20px;
}

.editor {
  width: 800px;
  margin-bottom: 50px;
}
