.header {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.code_icon {
  cursor: pointer;
}

.btn_container {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
